.Log-In-eye-on
{
    position: relative;
    width: 100%;
    height: 1080px;
    background: rgb(255, 255, 255);
}

.bg
{
    position: absolute;
    width: 100%;
    height: 1080px;
}

.urbncore
{
    position: absolute;
    width: max-content;
    height: 18px;
    top:93%;
    left: 85%;
}

p
{
    color: rgb(13, 13, 13);
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.picture-log-in
{
    width: 100%;
    height: 100%;
    background: url("public/picture_log.png");
    background-size: cover;
}

.log-in-registr{
    position: absolute;
    width: 720px;
    height: 934px;
    left: 35%;
    top: 49px;
}

.Rectangle6
{
    position: absolute;
    width: 720px;
    height: 929px;
    left: 0;
    top: 5px;
    border-radius: 4px;
    backdrop-filter: blur(18px);
    background: rgba(89, 89, 89, 0.5);
}

.Frame28
{
    position: absolute;
    width: 630px;
    left: 45px;
    top: 55.5px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.Frame20
{
    position: static;
    width: 630px;
    height: 316px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
}

.Frame19
{

    position: static;
    width: 630px;
    height: 159px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 54px;
    align-self: stretch;
}

.Frame12
{
    position: static;
    width: 630px;
    height: 55px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#Frame4
{
    width: 315px;
    height: 55px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;

    border: 2px solid rgb(241, 241, 241);
    opacity: 0.5;
}

#Frame4:focus
{
    opacity: 2;
    background: rgba(255, 255, 255, 0.2);
}

.LogIn
{
    position: static;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;

    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    text-transform: none; /* Додаємо цю строку */

}

.Frame3
{
    /* Frame 3 */
    position: static;
    width: 315px;
    height: 65px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    border: 2px solid rgb(241, 241, 241);
    opacity: 0.5;
}

.Frame3:focus
{
    opacity: 2;
    background: rgba(255, 255, 255, 0.2);
}

.SignUp{

    position: static;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;

    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    text-transform: none; /* Додаємо цю строку */
}

.Frame9{
    position: static;
    width: 488.26px;
    height: 50px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    gap: 12px;

}

.WelcomeBackTo
{
    position: absolute;
    width: 327px;
    height: 50px;

    color: rgb(245, 245, 245);
    font-family: "Outfit", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
}

.groupLetter
{
    position: absolute;
    top:110px;
    right: 11%;
    width: 155px;
    height: 50px;
}

.Frame14
{
    /* Frame 14 */
    position: static;
    width: 600px;
    height: 129px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
}

.LogInWithGoogle
{
    /* Log In with Socials */
    position: static;
    width: 600px;
    height: 35px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    /* Inside Auto Layout */
    align-self: stretch;
    /*margin-top: 24px;*/

    color: rgb(245, 245, 245);
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}

.Frame13
{
    /* Frame 13 */
    position: static;
    width: 600px;
    height: 70px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Inside Auto Layout */

    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 24px;
}

/*.Button_socials1{*/

/*    position: static;*/
/*    width: 180px;*/
/*    height: 70px;*/
/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 10px 20px 10px;*/

/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    !*margin: 0px 30px;*!*/

/*    box-sizing: border-box;*/
/*    border: 2px solid rgb(13, 13, 13);*/
/*    border-radius: 50px;*/

/*    box-shadow: 4px 8px 0px 0px rgb(0, 0, 0);*/
/*    background: rgb(245, 245, 245);*/
/*}*/

/*.Icon-Google{*/
/*    position: static;*/
/*    width: 24px;*/
/*    height: 24px;*/

/*    !*margin: 0px 15px;*!*/
/*}*/

/*.Text-Button_Google*/
/*{*/
/*    !* Apple (Button_socials) *!*/
/*    position: static;*/
/*    width: 78px;*/
/*    height: 30px;*/
/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 10px 20px 10px;*/


/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 1;*/
/*    margin-left: 15px;*/

/*    color: rgb(0, 0, 0);*/
/*    font-family:"Outfit", sans-serif, "Marbley Free", sans-serif;*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    line-height: 30px;*/
/*    text-align: left;*/
/*}*/

/*.Button_socials2*/
/*{*/
/*    position: static;*/
/*    width: 180px;*/
/*    height: 70px;*/
/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 10px 20px 10px;*/


/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 1;*/
/*    margin: 0px 30px;*/

/*    box-sizing: border-box;*/
/*    border: 2px solid rgb(13, 13, 13);*/
/*    border-radius: 50px;*/

/*    box-shadow: 4px 8px 0px 0px rgb(0, 0, 0);*/
/*    background: rgb(245, 245, 245);*/
/*}*/

/*.Icon-Apple*/
/*{*/
/*    !* Social Icons *!*/
/*    position: static;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 0;*/
/*    flex-grow: 0;*/
/*    margin: 0px 15px;*/
/*}*/

/*.Text-Button_Apple*/
/*{*/
/*    !* Apple (Button_socials) *!*/
/*    position: static;*/
/*    width: 64px;*/
/*    height: 30px;*/
/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 10px 20px 10px;*/


/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 1;*/
/*    margin-right: 15px;*/

/*    color: rgb(0, 0, 0);*/
/*    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    line-height: 30px;*/
/*    text-align: left;*/
/*}*/

/*.Button_socials3*/
/*{*/
/*    !* Button_socials *!*/
/*    position: static;*/
/*    width: 180px;*/
/*    height: 70px;*/
/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 10px 20px 10px;*/


/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 2;*/
/*    flex-grow: 0;*/

/*    box-sizing: border-box;*/
/*    border: 2px solid rgb(13, 13, 13);*/
/*    border-radius: 50px;*/

/*    box-shadow: 4px 8px 0px 0px rgb(0, 0, 0);*/
/*    background: rgb(245, 245, 245);*/
/*}*/

/*.Icon-Facebook*/
/*{*/
/*    position: static;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 0;*/
/*    flex-grow: 0;*/
/*    margin: 0px 15px;*/
/*}*/

/*.Text-Button_Facebook{*/
/*    !* Apple (Button_socials) *!*/
/*    position: static;*/
/*    width: 105px;*/
/*    height: 30px;*/
/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 10px 20px 10px;*/


/*    !* Inside Auto Layout *!*/
/*    flex: none;*/
/*    order: 1;*/
/*    flex-grow: 0;*/
/*    margin-right: 15px;*/

/*    color: rgb(0, 0, 0);*/
/*    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    line-height: 30px;*/
/*    text-align: left;*/
/*}*/

.Frame27
{
    display: flex;
    width: 428px;
    height: 459px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;

    position: static;
    order: 1;
}

.Frame26
{
    position: static;
    width: 428px;
    height: 341px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 28px;
    align-self: stretch;
}

.orLogInwithEmail
{
    align-self: stretch;

    position: static;
    width: 428px;
    height: 35px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.orLogInwithEmail-text
{
    width: 100%;
    height: auto;
    align-self: stretch;
    color: #F5F5F5;
    text-align: center;
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Frame25
{
    position: static;
    width: 428px;
    height: 278px;
    /*height: 278px;*/
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    order: 1;
    align-self: stretch;

    gap: 24px;
    margin-bottom: 30px;
}

.Frame11
{
    position: static;
    width: 428px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    align-self: stretch;
}

.Label-Email
{
    position: static;
    width: 35px;
    height: 18px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: rgba(245, 245, 245, 0.70);

    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Input-Email
{
    /* log in google */
    position: static;
    width: 428px;
    height: 61.82px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 18px 20px 18px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    gap: 15px;

    border-radius: 4px;
    background: #FFF;

    color: rgb(13, 13, 13);
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.Frame24
{
    position: static;
    width: 428px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;

}

.Frame16
{
    position: static;
    width: 428px;
    height: 90px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    align-self: stretch;
}

.Label-Password
{
    position: static;
    width: 60px;
    height: 18px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: rgba(245, 245, 245, 0.7);
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.Input-Password
{
    color: rgb(13, 13, 13);
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    line-height: 23px;
    justify-content: flex-start;


    position: static;
    width: 428px;
    height: 72px;
    /* Auto layout */

    flex-direction: row;

    align-items: center;
    padding: 20px 18px 20px 18px;

    order: 1;
    flex-grow: 1;

    border-radius: 4px;
    background: rgb(255, 255, 255);

}

.EyeVisibility
{
    position: absolute;
    width: 30px;
    height: 30px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    top: 535px;
    right: 120px;

    cursor: pointer;
}

.Frame15
{
    /* Frame 15 */
    position: static;
    width: 428px;
    height: 18px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;



    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 1;

    gap: 225px;
}

.error
{
    position: static;
    margin-top: 10px;
    float: left;
    width: 100%;
}

#errorSpan
{
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 18px;
    color: red;
    font-weight: bold;
    text-transform: none;
    background-color: rgb(200, 249, 84);
}

#errorSpanOne
{
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 18px;
    color: red;
    font-weight: bold;
    text-transform: none;
    background-color: rgb(200, 249, 84);
}


.ForgotPassword-Div
{
    /* Forgot password */
    position: static;
    width: 200px;
    height: 18px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ForgotPassword-Button
{
    /* Forgot your password? (Forgot password) */
    width: 190px;
    height: 18px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    color: #F5F5F5;
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;

}

.ForgotPassword-Button:hover
{
    color: #0c1848;
}

.Frame23
{
    /* Frame 23 */
    position: static;
    width: 147px;
    height: 32px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    /* Inside Auto Layout */
    flex: none;
    order: 1;

}

#my
{
    width: 60px;
    height: 25px;
}

.toggle-span
{
    /* Remember me */
    position: static;
    width: 170px;
    height: 20px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    color: rgb(245, 245, 245);
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.Button_action-Div
{
    /* Button_action */
    position: static;
    width: 269px;
    height: 70px;
    /* Auto layout */
    margin: 60px auto;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Button_Login
{
    /* Button_action */
    position: static;
    width: 269px;
    height: 70px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(13, 13, 13);
    border-radius: 50px;

    box-shadow: 4px 8px 0px 0px rgb(0, 0, 0);
    background: rgb(200, 249, 84);

    color: rgb(13, 13, 13);
    font-family: "Outfit", sans-serif, "Marbley Free", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
}

.Button_Login:hover
{
    background: rgb(118, 150, 42);
}
