.containerChange
{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.photo-container {
    text-align: center;
    margin-bottom: 20px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.file-input {
    display: block;
    margin: 10px auto;
}

.input-group {
    margin-bottom: 10px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}